<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.fl.diplom"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="AddDishesActivity"
            android:label="@string/new_dish">
        </activity>
        <activity android:name="AddIngridientsActivity"
            android:label="@string/ingredients">
        </activity>
        <activity android:name="PreparationActivity"
        android:label="@string/recipe">
    </activity>
        <activity android:name="ShowRecipeActivity"
            android:label="@string/app_name">
        </activity>
    </application>
</manifest>